{
	admin off
	persist_config off
	auto_https off

	log {
		format json
	}

	servers {
		trusted_proxies static private_ranges
	}
}

:{$PORT} {
	log {
		format json
	}

	# ----------------------
	# Backend (API / WS)
	# ----------------------
	@backend {
		path /backend/*
	}

	@backend_ws {
		path /backend/*
		header Connection *Upgrade*
		header Upgrade websocket
	}

	handle @backend_ws {
    reverse_proxy 127.0.0.1:8000
    }

    handle @backend {
    reverse_proxy 127.0.0.1:8000
    }

	# ----------------------
	# Static Frontend
	# ----------------------
	root * .web/_static
	encode gzip
	try_files {path} {path}.html
	file_server

	# ----------------------
	# Errors
	# ----------------------
	handle_errors {
		rewrite * /{err.status_code}.html
		file_server
	}
}
