:{$PORT} {
    root * .web/_static
    file_server
    try_files {path} {path}.html

    handle_path /backend/* {
        reverse_proxy localhost:8000
    }

    encode gzip

    log {
        format json
    }
}
